.commerce-discount-gift-choice-input > .form-item {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 0 5px;
  border: 1px solid #c0c0c0;
}
.commerce-discount-gift-choice-input > .form-item > label {
  cursor: pointer;
}
.commerce-discount-gift-choice-input > .form-item > input{
  display: none;
}
.commerce-discount-gift-choice-input > .form-item.selected {
  border-color: #428bca;
}